[2015-06-24 14:18] txt3rob opened #9 "PHP example for you (not an issue)"
[code]

Works wonders for my site now thank you so much for this!

[2015-06-24 15:01] martenson commented on #9
thanks, I have updated readme with it

[2015-06-24 15:01] #9 closed

[2015-06-24 16:01] sc0rp10 commented on #9
This function has syntax error: `list(,$mail_domain) = explode('@',$mail);` is invalid PHP-construction. Fix it with `list($mail_address, $mail_domain) = explode('@',$mail);`

[2015-09-17 18:42] martenson commented on #9
@sc0rp10 fixed, thanks!

[2015-09-20 09:52] mipapo opened #15 "Add the blacklist to nojacko/email-validator"
Would it be okay if I add the list to  https://github.com/nojacko/email-validator?
Your list is one of the best here on github, but I would like to get the current list via composer for the email validator.

[2015-09-20 14:30] martenson commented on #15
@mipapo no problem at all, go ahead

[2015-09-20 15:21] mipapo commented on #15
Thanks !

[2015-09-20 15:21] #15 closed

[2015-09-27 16:14] one23 opened #18 "Questionable entry"
Why would FastMail.fm be on this list (introduced with pull req. #13) ?  It seems rather odd to me for someone to use a paid email service for a disposable/temporary email.

[2015-09-27 16:34] martenson commented on #18
@one23 Thanks for bringing this up. I agree that this entry is questionable and also think that we need to be really careful about not blacklisting trustworthy domains. I added all their domains to the whitelist with this commit: https://github.com/martenson/disposable-email-domains/commit/00f22f47e2f52474ef890a05fcbaeaa21699cd61
Thanks again!

[2015-09-27 16:34] #18 closed

[2015-09-27 16:49] one23 commented on #18
No problem, and thanks for the quick response!

[2016-03-16 14:35] jasonwilk opened #25 "Is this listing correct?"
It seems like this shouldn't be in this format...

https://github.com/martenson/disposable-email-domains/blob/master/disposable_email_blacklist.conf#L223

[2016-03-16 16:05] martenson commented on #25
yeah, that looks like a bug, thanks for reporting @jasonwilk

[2016-03-16 16:06] #25 closed

[2016-06-09 08:20] fordnox opened #31 "dataset from FGRibreau/mailchecker"
Could you merge data from https://github.com/FGRibreau/mailchecker ?

[2016-06-09 14:20] martenson commented on #31
done, thanks for the tip @fordnox

[2016-06-09 14:20] #31 closed

[2016-06-09 14:23] fordnox commented on #31
that was fast, thanks

[2016-06-16 23:07] t-todd opened #36 "License?"
What license is this released under, if any?

[2016-06-16 23:47] martenson commented on #36
@t-todd Do whatever you want with it.

[2016-06-16 23:47] #36 closed

[2016-06-17 11:14] guysaq opened #37 "new email"
10minutemail.co.uk

[2016-06-17 14:27] #37 closed

[2016-06-17 14:27] martenson commented on #37
thank you @guysaq

[2016-06-18 09:06] guysaq commented on #37
one more :)
swift10minutemail.com

[2016-07-06 18:05] martenson opened #46 "decide on what domain levels to cover"
In https://github.com/martenson/disposable-email-domains/pull/45 we discussed whether we should only gather domains in xxx.yy form or whether to also accept third (and deeper) levels such as zzz.xxx.yyy

This might need some research as there are cases that are clearly exempt (.co.uk) and some appear unclear. Also if we remove zzz.xxx.yyy should we always keep xxx.yyy as this will vastly broaden t

[2016-07-07 14:30] natefoo commented on #46
I think this only makes sense in cases where the "TLD" is xxx.yyy instead of yyy. Otherwise, if a spammer controls the second level domain, they control everything underneath. The exception would be service providers (e.g. dyndns, but no legitimate mail should come from there, I just use it as an examnple).

[2016-07-22 08:05] rogerkk opened #47 "Is hushmail really disposable?"
First of all: Thanks for maintaining this list. It's very useful!

I've noticed a couple of hits on my side with emails from hushmail.com and hush.ai. As I looked into this, I started wondering if hushmail really _is_ disposable email?

It seems to me you actually need to register an account, and I find no trace of the accounts being temporary or being able to send emails without registering.

The

[2016-07-22 08:08] rogerkk opened #48 "Was lavabit.com really disposable?"
lavabit.com is no longer in business, but when they were, did they really offer disposable email addresses?

From what I remember, you needed to sign up for an account.

[2016-07-22 08:10] rogerkk opened #49 "safe-mail.net do not offer disposable email"
Their landing page indicates they require you to sign up. They do have a "Quick Mail" functionality, but using this still seems to require you to have an account.

[2016-07-22 08:14] rogerkk opened #50 "mail2world.com do not offer disposable emails"
This site seems to require you to sign up for an account.

[2016-07-27 15:17] martenson commented on #47
you are right, this service seems legit, I will whitelist them
thank you @rogerkk !

[2016-07-27 15:17] #47 closed

[2016-07-27 15:25] martenson commented on #48
given they ceased to operate I will remove them from the list, thank you!

[2016-07-27 15:25] #48 closed

[2016-07-27 15:28] martenson commented on #49
you are right, seems they require registration, I will move it to whitelist, thanks!

[2016-07-27 15:28] #49 closed

[2016-07-27 15:31] martenson commented on #50
this one also seems legit, whitelisting, thanks you @rogerkk !

[2016-07-27 15:31] #50 closed

[2016-07-27 15:59] #46 closed

[2016-07-27 16:32] martenson commented on #36
@t-todd to make this clear I added CC0 license here: https://github.com/martenson/disposable-email-domains/commit/80bc1bab0c98e4225c85cb443d78c93d7f6b802a

[2016-08-23 10:32] changkun opened #54 "domain suggestion"
`zasod.com` should be on the list.

[2016-08-23 14:22] martenson commented on #54
I cannot see any service running on it. Do you have justification for blacklisting it @changkun?

[2016-08-23 15:35] #54 closed

[2016-08-23 15:35] martenson commented on #54
thanks for the tip @changkun

[2016-08-24 01:00] changkun commented on #54
@martenson `zasod.com` email generated by `10minutemail.net`, which is already on the list, and somehow also used by **`10minutemail.org`(not on the list)**. Their temp email usually change domain per 45 days, now you can check the website and **`ploae.com`(not on the list)** is used at present.

[2016-08-27 20:49] marcelstoer opened #58 "Clean-up dead domains"
I suggest you run an automated clean-up task from time to time that removes dead domains from your collection. You won't find domains like http://ww8.10minutemail.de/ or http://1mail.ml/ which still exist but may not be used for disposable mail addresses anymore but you'd find domains like http://30minutemail.com/ for which there's no DNS entry anymore.

[2016-10-13 03:29] irvin commented on #58
I think we should move dead domain into a separate list, because some people will still use those dead domain email address (perhaps they get before it dead)

[2016-12-16 14:39] p3n3m commented on #58
Check [http://onlineemailvalidation.com/](http://onlineemailvalidation.com/) - it also shows if the domain exists/MX record exists

[2017-02-14 16:35] radzhome opened #75 "gmx.com, gmx.us"
I don't think this is considered a disposable email, but a valid email domain from Germany

[2017-02-14 17:17] #75 closed

[2017-02-14 17:18] martenson commented on #75
thank you @radzhome !

[2017-03-10 15:29] szepeviktor commented on #58
+1 for Travis CI

[2017-03-10 15:49] martenson commented on #58
This is an interesting problem. I think it could be sum up to decision in between:

which creates *weaker* and *longer* list of domain

or

which creates *stronger* and *shorter* list of domains

[2017-03-10 15:56] szepeviktor opened #83 "Short googling reveals new domains"
disposablemails.com -> https://www.emailondeck.com/
safermail.info -> https://mailto.space/
getnada.com -> https://getnada.com/

contbay.com -> trashmail.com
damnthespam.com -> trashmail.com

### https://temp-mail.org/ domains:

12storage.com
gamgling.com
12hosting.net
cheaphub.net
lillemap.net
gafy.net
evyush.com
vps911.net
katztube.com

Also see https://mytemp.email/ domains

A huge list here: h

[2017-03-10 15:58] szepeviktor commented on #83
@martenson I hope someone will contribute these.

[2017-03-10 18:44] szepeviktor opened #84 "False positives"
`< disposable_email_blacklist.conf xargs -n 1 host -t MX` reveals that

- there are domain with such MX-s as `aspmx.l.google.com.`  (http://www.drevo.si/)
- or parked domains (NS is ns1.dnparking.com.)
- or have a new registrant  (http://www.emil.com/)
- or expired
- or having no Mx at all

Please advise.

[2017-03-10 18:48] szepeviktor commented on #84
One solution would be to use Travis CI:

1. Is it a confirmed disposable email domain?
1. Is it registered? - whois
1. Does it have an NS? - root servers
1. Does it have an MX - DNS
1. Are **all** of the MX-s on our MX whitelist?

[2017-03-10 18:57] martenson commented on #84
These are great ideas. I am not that educated in domain system - with no MX record can the domain be used for mailing in any way?

[2017-03-10 18:57] szepeviktor commented on #84
Of course not.

[2017-03-10 19:03] martenson commented on #84
@szepeviktor So I guess good first step would be to move domains with no MX record out of the list. Something like `discontinued_domains.conf`.

[2017-03-10 22:42] chafreaky commented on #84
Mhmm, what about people who use this list to prune databases from disposable email addresses, both old and current? Most disposable email providers have a 45 days sunset policy and the domains are then dropped after that time. Should they not be listed anymore?

[2017-03-10 22:51] martenson commented on #84
@chafreaky That is a use case that would be covered by transferring the non-existent-MX domains to `discontinued_domains.conf` - would it not?

[2017-03-10 22:52] szepeviktor commented on #84
This issue is more about some kind of quality control, keeping thing up-to-date.

[2017-03-10 22:59] martenson commented on #84
@szepeviktor To be frank I think non-existent MX entry does not make (former) disposable domain trustworthy per se.

[2017-03-10 23:46] chafreaky commented on #84
Definitely not. And a discontinued file would work. We'd have to update the
readme to mention the possibility of including both lists when pruning.

On Fri, Mar 10, 2017 at 17:59 Martin Cech <notifications@github.com> wrote:

[2017-05-01 13:44] ereli commented on #84
Have a look at https://github.com/ereli/disposable-email-domains/tree/validate
you can run python  `./validate_dns.py |awk -F" - " '{print $2 }'|sort|uniq -c`
and find out how many domains are no longer actively used.  I should  probably retry on NoAnswer, but these are the basic numbers I've got:
[code]

[2017-05-23 15:23] ar-anvd opened #92 "Update list"
haydoo.com from here https://temp-mail.org/en/

yordanmail.cf from here https://mytemp.email/

mailna.co from here https://www.mohmal.com

aoeuhtns.com from here https://www.emailondeck.com

mvrht.net from here https://10minutemail.com/

[2017-05-25 12:46] Alfinator1 commented on #92
hezll.com from https://mytemp.email

[2017-06-06 23:46] ScottyTM commented on #84
Domains without an MX can still receive mails. The MTA will try the A record to deliver mails to this domain.

[2017-06-06 23:51] szepeviktor commented on #84
Could you link the reference of this?

[2017-06-10 00:35] ScottyTM commented on #84
https://en.wikipedia.org/wiki/MX_record#History_of_fallback_to_address_record

[2017-06-10 00:56] szepeviktor commented on #84
Thank you.

I've ran through the two RFC-s and found no traces of the mentioned fallback.

[2017-06-10 11:06] ScottyTM commented on #84
from https://tools.ietf.org/html/rfc5321#section-5

[2017-06-10 12:50] szepeviktor commented on #84
Thank you!

I think it is not implemented in modern MTA-s.

[2017-06-10 13:47] ScottyTM commented on #84
Sorry, but it seems you have no idea how mail works. It's been the standard for over 30 years. Every major implements it as it is in the RFC as quoted above.

[2017-06-20 21:25] no1youknowz commented on #92
nbox.notif.me from https://nbox.notif.me

[2017-06-29 07:10] nikhil-above commented on #92
deyom.com

[2017-07-10 02:21] martenson commented on #84
Thanks for the info @ScottyTM, this complicates things a bit further for this issue.

[2017-07-11 10:53] chafreaky commented on #92
Please submit a PR. :)

It takes just a bit more time than leaving a comment and helps everyone out, including you!

[2017-07-23 02:10] ssjunior commented on #84
@ScottyTM is right. If there is no MX, the A will be used as fallback.

[2017-07-30 06:49] marcelstoer commented on #84
In a way this is a duplicate of #58.

[2017-07-31 17:37] martenson opened #106 "collaboration invitation for @deguif"
@deguif would you like to become a collaborator on this repository? This includes permissions to push to this repo.

[2017-08-01 09:27] deguif commented on #106
I will be pleased to be a collaborator on this repository @martenson . I'm familiar with Git and Github, so you can sleep soundly ;)

[2017-08-01 13:59] martenson commented on #106
You got it @deguif. Thank you.

[2017-08-01 13:59] #106 closed

[2017-08-01 14:06] #83 closed

[2017-08-01 14:06] martenson commented on #92
added in https://github.com/martenson/disposable-email-domains/pull/105

[2017-08-01 14:06] #92 closed

[2017-08-12 15:26] Majestcx opened #116 "DEAGuard - Uses your APIs"
I wanted to thank you for the fantastic job you did.
And I wanted to alert you that I've embedded your APIs in my project.
_Here_: [**DEAGuard**](https://deamails.altervista.org/)

[2017-08-12 20:04] martenson commented on #116
You are welcome. (ping @deguif who co-manages this repo)

[2017-08-12 20:04] #116 closed

[2017-08-28 05:24] cantelope opened #118 "Remove snkmail.com"
Please remove snkmail.com. Although it started out as a disposable email service (sneakemail.com), snkmail.com is a paid-subscription service for generating **long-lived unique** email addresses for identifying spam from website registrations.

Emails to the generated address is forwarded to the subscriber with the email tagged so that he knows which email it was sent to, and with the From address

[2017-08-28 08:24] deguif commented on #118
Hi @cantelope

Thanks for the explanation.
Could you make a PR, for moving the `snkmail.com` domain from blacklist to whitelist?

[2017-08-28 08:40] cantelope commented on #118
I've never done this before, so please let me know if I did something wrong.

[2017-08-28 13:44] martenson commented on #118
Thank you for the contribution @cantelope and sorry for the inconvenience.

[2017-08-28 13:44] #118 closed

[2017-10-08 05:13] shahrock1 opened #122 "cayuh@binnary.com"

[2017-10-10 08:16] deguif commented on #122
Hi @shahrock1

`binnary.com` domain is already on the black list.

[2017-10-10 14:28] #122 closed

[2017-10-10 14:32] martenson commented on #58
It seems one of our forks implemented this: https://github.com/Friday811/disposable-email-domains/commit/4adeff5d66f91cd14a4a609b8fdf4211a033b008

cc @deguif

[2017-10-11 14:38] deguif commented on #58
Interesting.

I will be fine with adding a new file which contains only domains that are existing.
But I will keep the `disposable_email_blacklist.conf` as it is currently and will not drop anything in it, for the reason @irvin gave in this conversation.

[2017-10-23 15:00] martenson opened #127 "separate something like with-registration-but-disposable-oriented from whitelist into another blocklist."
xref #125

[2017-10-27 14:20] hdatma opened #128 "addenda (1204 domains)"
[ded.txt.patch.zip](https://github.com/martenson/disposable-email-domains/files/1422330/ded.txt.patch.zip)

[2017-10-31 09:57] ar-anvd opened #129 "payperex2.com"
Hello. Can't find if emails from this domain are disposable or not. Someone can give it a look?

[2017-11-08 16:22] martenson commented on #129
I don't know, there are some clues that is but I am not sure. See: https://duckduckgo.com/?q=payperex2

[2017-11-08 16:23] #129 closed

[2017-11-09 10:26] ar-anvd commented on #129
@martenson as I expected, yes it is. See https://temp-mail.org/en/option/change/

[2017-11-09 14:48] quimpg commented on #128
if you want you can add mailbox92.biz

[2017-11-09 15:48] martenson commented on #129
@ar-anvd added, thanks!

[2017-11-09 16:54] hdatma commented on #128
New file, now including 3785 domains.

[dea.txt](https://github.com/martenson/disposable-email-domains/files/1458449/dea.txt)

[2017-11-27 15:42] Pascal76 opened #135 "false positive"
Hello

are you sure about onet.pl ?

Pascal

[2017-11-27 15:46] martenson commented on #135
Seems like a valid email service, are you familiar with it? Can you check it please(in case you speak Polish)?

[2017-11-27 15:46] martenson commented on #135
![screenshot 2017-11-27 10 46 42](https://user-images.githubusercontent.com/1814954/33275209-45a60dbc-d360-11e7-9d8f-d61d7d2cc0ce.png)

[2017-11-27 15:47] #135 closed

[2017-11-27 15:48] martenson commented on #135
looks legit, I removed it, thanks @Pascal76

[2017-12-15 10:59] sidewinderZ opened #136 "you're such a fucking retard"
nice contribution.. to corporations and trash sites collecting data and making a profit out of it
stupid son of a bitch 12 years old faggot.. you're BALDING

[2017-12-15 11:43] #136 closed

[2018-01-23 08:05] Hendikins opened #137 "Remove entries that are suffixes"
Upon casual inspection of the list I found various entries that are part of the [Public Suffix List](https://publicsuffix.org/) - this is probably not an exhaustive list:
id.au - Individuals who are Australian citizens/residents
com.ar - Companies and individuals resident in Argentina
edu.my -  Malaysian educational organisations
edu.sg -  Singaporean educational organisations
nom.za - Personal na

[2018-01-23 10:53] deguif commented on #137
Hi @Hendikins

Thanks for taking time to improve this list.
A PR would be very welcome regarding the issue you pointed out.

[2018-02-05 03:21] martenson commented on #137
@Hendikins thanks for the idea, I have implemented an automatic check in the PR linked above and removed all the domains found in that list you linked.

[2018-02-05 03:21] #137 closed

[2018-02-11 06:07] pjebs opened #142 "Did you know?"
Did you know that all gmail addresses disregards periods.

*You can have any combination of dots in between the letters and it will just work.

* But more relevant to this, you can add "+XXX" to any valid gmail address to make it disposable.

i.e. `peter.smith+disposable@gmail.com`

[2018-02-11 11:39] deguif commented on #142
Yes I think we all know. Thanks for your attention ;)
But a gmail address has better chance to be a valid email than temporary mail providers.

[2018-02-11 11:39] #142 closed

[2018-02-11 18:25] martenson commented on #142
@pjebs thanks for sharing. I wouldn't call `email+sdsfsd@gmail.com` disposable per se, it still arrives in the same mailbox, but is easier to filter/label/block.

I think we are still not gonna add @gmail.com to blacklist quite yet ;)

[2018-02-18 05:37] ssjgod123 opened #143 "Got Scammed need domain extremail.ru"
i made a gaming account with disposale email at https://temp-mail.org/en/ with domain extremail.ru but its not available there now. And my account was stolen by some scammers will anybody help me out what to do..!!!

[2018-02-18 05:47] ssjgod123 commented on #128
hey can you make work extremail.ru disposable email?

[2018-02-18 21:56] apetrichkovich opened #144 "More disposable domains"
Hello.
Please add this domains:
disposable@aegde.com
disposable@anonmail.top
disposable@govnomail.xyz

[2018-02-24 21:17] jq1106 opened #145 "Another for the list"
Getting a lot of spam accounts from send22u.info

[2018-02-27 11:32] deguif commented on #145
Hi @jq1106 Would you mind making a PR?

[2018-03-02 19:06] hackerkid opened #147 "Why is example.com in the list?"

[2018-03-02 19:34] #147 closed

[2018-03-02 19:34] martenson commented on #147
clearly a mistake, thanks for pointing that out @hackerkid !

[2018-03-02 19:46] hackerkid commented on #147
Thanks for the quick fix :tada:

[2018-03-03 03:32] C0nw0nk opened #148 "anonymousspeech.com and its anon domains"
It is a service to create a account with no verification actions required to recieve disposable emails then delete your account when ever you wish.

https://www.anonymousspeech.com/registration.aspx

Users create accounts send and receive emails then delete their accounts allowing another user to use the same address to perform the same actions all of what is disposable and untraceable and has no

[2018-03-06 09:07] C0nw0nk opened #149 "Missing Domains from blacklist"
Here are some services who's domains are missing.

https://www.minuteinbox.com/

https://temp-mail.org/en/option/change/

http://tempsky.com/

https://www.moakt.com/

https://mailsucker.net/

https://dma.in-ulm.de/

[2018-03-11 06:50] OhArentYouCutenot opened #152 "fail"
DEA is primarily employed by **Privacy Enthusiasts*  of all political flavors as cretinous behavior from a variety of offered-as-no-cost-by-the-irrational services **abuse the email of users**.

So you blacklist a subset of DEA domains? wow.  What stops the Privacy Minded Folk from creating a free webmail account, or their own domain atop free email service -- _NEVER_ looking at a given inbox afte

[2018-03-11 06:51] OhArentYouCutenot commented on #145
Why not learn how to throttle signup abuse instead of this blacklisting frippery?

[2018-03-11 08:44] C0nw0nk commented on #152
Why are you complaining if people want to block your domains they will block your domains you are not going to change their minds, Everyone has their own solutions and tactics to tackle problems and would use the lists provided for a vast variety of other reasons than those you single mindedly think of for yourself.

You should understand open MX records are a security issue that can result in hij

[2018-03-11 12:30] jq1106 commented on #145
Because a captcha does nothing for someone changing ip’s, clearing browser data, and using a different email to signup for a 2nd account to get another free trial.

[2018-03-11 21:31] martenson commented on #152
@C0nw0nk Thank you for your tactful response.

@OhArentYouCutenot I am happy this simple domain list was the reason you created a GitHub account. Good luck with your future open source work.

[2018-03-11 21:31] #152 closed

[2018-03-11 21:38] #145 closed

[2018-03-11 21:39] martenson commented on #145
added in the commit linked above, the rest of the domains you linked were already in, thanks @jq1106

[2018-03-18 16:59] simon21587 commented on #149
nwytg.com

[2018-04-17 07:15] andreaontheweb opened #157 "does someone use this on laravel"
Hello i need some help, on ho implement this wonderful repository on laravel.
I tried with php script on the help but it return me errors.
Thank's

[2018-04-17 08:26] andreaontheweb commented on #157
whoops.
With your code it works.
It was just a typo.
Thank's

[2018-04-17 08:26] #157 closed

[2018-04-18 21:09] martenson commented on #143
Hi @ssjgod123 , I think we cannot help you here. Sorry.

[2018-04-18 21:09] #143 closed

[2018-04-18 23:52] martenson commented on #148
I think this does not look as disposable but rather as a service that aims for anonymity. Main features that disqualify it from being disposable are account password protection and no automatic account deletion.

[2018-04-18 23:52] #148 closed

[2018-04-18 23:53] martenson commented on #149
Hi @C0nw0nk  Would you mind creating a pull request for these?

[2018-04-23 10:43] giannigrd opened #158 "more domains"
Disposal domanis
------------------------
ada-duit.ga
aesopsfables.net
blangbling784yy.tk
cursodemicropigmentacao.us
dgnghjr5ghjr4h.cf
email2an.ga
hjgh545rghf5thfg.gq
khan007.cf
king-yaseen.cf
kjhjgyht6ghghngh.ml
mailserver2.cf
mailserver2.ga
mailserver2.ml
mailserver2.tk
mial.cf
mial.tk
mysafe.ml
mytools-ipkzone.gq
ralree.com
reksareksy78oy.ml
roewe.cf
roewe.ga
roewe.gq
roewe.ml
rpaowpro3l5ha.tk

[2018-04-23 15:00] martenson commented on #158
@giannigrd can you tell me more about the source of these domain please?

[2018-04-24 08:38] giannigrd commented on #158
I Martin,

from the my managed website, i extracted the list of e-mail domains used by customers registtrations

Check regularly if domains are valid through customers actions after sending activation mail
I check the anomalous situations with https://check-mail.org or similar sites

Best regards

Gianni Gardella

________________________________
Da: Martin Cech <notifications@github.com>
Inviato:

[2018-05-25 13:44] szepeviktor opened #163 "MX blacklist"
I've mentioned this in #84

[code]

Results (pcs × MX)

-    74 176.126.236.241
-    116 213.32.90.201
-    230 23.239.11.30
-    1438 **198.133.158.0/23**

/24 TOP List

- 40 206.53.239
- 43 64.38.116
- 43 74.125.200
- 45 103.224.212
- 45 37.120.169
- 46 62.210.93
- 50 162.255.118
- 50 67.207.77
- 52 72.167.238
- 59 108.177.14
- 61 64.233.190
- 74 176.126.236
- 76 209.85.203
- 104 68.178.213
- 11

[2018-06-04 16:24] wizard-merlin opened #165 "add kpooa.com"
kpooa.com is provided as disposable email address by https://10minutemail.org/ . You can also find out its abuse history at https://stopforumspam.com/domain/kpooa.com.

[2018-07-15 13:19] Junker opened #171 "wrong disposable domains"
qq.com - not disposable domain, it's very popular chinese email provider
naver.com - not disposable domain, it's very popular korean email provider

[2018-07-15 13:20] #171 closed

[2018-08-02 14:07] DouglasGreen commented on #165
They are also providing the nwytg.net domain, similar to the nwytg.com domain that is already on this list.

[2018-08-22 02:19] flayspammers opened #173 "fail"
So you won't allow signup from a disposable email address service?

oh noes!

What will I do?

Gee, maybe I'll treat a non-listed email service as disposable.

And why would I do that?

BECAUSE

the kind of cretinous fops who blacklist self-protection services are typically the scum bent on spamming me - a behavior I will vociferously resist.

YOU FAIL

Your policy is INANITY

[2018-08-22 10:43] elliotjreed commented on #173
@flayspammers This is just a list, it is not in itself blocking anything. For example, I use this on an ecommerce platform as part of many indicators as to potentially fraudulent orders, I do not use it to block anyone from anything. So far it has proved highly beneficial.

[2018-08-22 20:38] di commented on #173
@flayspammers I had totally forgotten that I wanted to add about 100 new domains to this list, but then this issue showed up in my inbox, [so thanks very much for the reminder!](https://github.com/martenson/disposable-email-domains/pull/174)

[2018-08-23 11:58] martenson commented on #173
@flayspammers I believe spam is a function of convenience, every small hurdle on the side of spammer and every small tool on the side of the target user/platform can help prevent it.

Also, thanks for signing up for a github account for the sole purpose of posting such issues. May your future contributions to the open source be more fruitful. You wouldn't want to create an account just for *spammi

[2018-08-23 11:58] #173 closed

[2018-08-28 12:36] szepeviktor commented on #84
Yes.

[2018-08-28 12:36] #84 closed

[2018-08-28 12:36] szepeviktor commented on #163
Just an old idea.

[2018-08-28 12:36] #163 closed

[2018-11-07 15:14] mrpavlikov opened #180 "Disposable domains from temp-mail.org"
temp-mail.org provides mailboxes in different domains:

* 1thecity.biz
* acucre.com
* hiltonvr.com
* bnote.com
* nyrmusic.com
* oranek.com
* pachilly.com
* patonce.com
* rupayamail.com
* sandcars.net
* tryzoe.com
* zdenka.net

Got these ones by opening https://temp-mail.org/api/ in private tab multiple times, you can see the domain in the header. Probably should register app and try to get more wi

[2018-11-07 15:15] martenson commented on #180
@mrpavlikov Would you mind creating a pull request with these?

[2018-11-07 16:46] mrpavlikov commented on #180
@martenson got it done. Btw I had a bit of trouble with locale, Ubuntu 18.10 appears to have this one empty, so I had to set it manually, otherwise all the order was ruined. Maybe you should add this to your contributing guide.

[code]

[2018-11-07 17:05] #180 closed

[2018-11-09 11:11] GermanS opened #183 "Please, add ezehe.com"
seems like another disposable email service

[2018-11-09 13:13] martenson commented on #183
@GermanS Would you mind creating a pull request?

[2018-11-09 14:32] martenson commented on #183
closed via https://github.com/martenson/disposable-email-domains/pull/184

[2018-11-09 14:32] #183 closed

[2018-11-09 15:51] #149 closed

[2019-01-08 06:00] dasjet opened #188 "Add mailox.fun"

[2019-01-14 18:09] mtmail opened #189 "add emaildrop.io"
https://www.emaildrop.io/

https://www.emaildrop.io/about "Emaildrop is a free disposable email provider."

[2019-01-15 21:56] martenson commented on #189
@mtmail Would you mind creating a pull request?

[2019-01-15 23:53] mtmail commented on #189
@martenson Not all all. Created now.

[2019-01-16 15:14] #189 closed

[2019-01-18 21:36] rbholland opened #192 "Remove Sudo-related domains"
I work for a company which runs [MySudo](https://itunes.apple.com/us/app/mysudo/id1237892621?mt=8), an app on the iOS App Store that allows users to create private emails and phone numbers. We own the following domains, which are in your disposable-email-domains repo:

sudolife.me
sudolife.net
sudomail.biz
sudomail.com
sudomail.net
sudoverse.com
sudoverse.net
sudoweb.net
sudoworld.com
sudoworld.ne

[2019-01-20 04:32] martenson commented on #192
@rbholland I agree that your service does not qualify as disposable at the moment. Would you mind creating a pull request removing your domains?

[2019-01-21 18:54] martenson commented on #192
closed via https://github.com/martenson/disposable-email-domains/pull/193

[2019-01-21 18:54] #192 closed

[2019-01-26 23:14] simonsigre commented on #144
@apetrichkovich those are not domains.. they are email addresses.

The first domain (`aegde.com`) already appears to be part of the list.. and the rest appear to have pretty neutral reputations;

https://www.talosintelligence.com/reputation_center/lookup?search=govnomail.xyz
https://www.talosintelligence.com/reputation_center/lookup?search=anonmail.top

Their relationships online (and MX resolutio

[2019-01-26 23:19] simonsigre commented on #144
Canned merge due to alpha sort requirement .. will redo later

[2019-02-03 16:39] #188 closed

[2019-02-21 14:39] subtosilencio opened #198 "Two new disposable domains"
emailna.co
20minutemail.it

Thansk!

[2019-02-21 14:40] martenson commented on #198
would you mind opening a pull request?

[2019-02-21 15:34] subtosilencio commented on #198
Sorry, I'll

Thanks @martenson !

[2019-02-21 15:34] #198 closed

[2019-02-21 18:22] balbuzar opened #200 "More domains"
You may add :

From https://www.minuteinbox.com/
[code]

From https://temp-mail.org/en/option/change/
[code]

[2019-02-21 19:14] martenson commented on #200
would you mind creating a pull request?

[2019-03-04 21:04] elliotjreed opened #201 "PHP Package"
Many thanks for your work on this list again - it's still proving highly useful!

I noticed a couple of people asking questions about PHP integration, so I've knocked-up a little package people can use and install via Composer.

I'll look at finding a nice way of keeping it in-sync with this repository.

https://packagist.org/packages/elliotjreed/disposable-emails-filter

https://github.com/elliot

[2019-03-04 22:17] di commented on #201
@elliotjreed You may what to look at what I'm doing [here](https://github.com/di/disposable-email-domains) with the Python package -- it's auto-upgrading on a daily basis.

[2019-03-05 07:07] elliotjreed commented on #201
@di That looks perfect, I'll implement that sort of thing - is this run on a Travis schedule?

[2019-03-05 18:01] di commented on #201
@elliotjreed It uses [Travis Cron Jobs](https://docs.travis-ci.com/user/cron-jobs/) to run daily.

[2019-04-18 18:40] martenson opened #205 "collaboration invitation for @di"
@di would you like to become a collaborator on this repository? This includes permissions to push to this repo.

[2019-04-18 19:22] di commented on #205
@martenson Sure!

[2019-04-18 19:29] martenson commented on #205
Invited, thank you!

[2019-04-18 19:29] #205 closed

[2019-07-05 12:12] #201 closed

[2019-07-09 10:02] #165 closed

[2019-07-09 10:02] #200 closed

[2019-07-19 16:39] ali654 opened #212 "Restore this domain"
Sir Please
siftportal.ru
i have created a maxbounty account on this domain and my account is blocked i want to check my mail i don't have any other option.
i work hard to earn money and i have more than 100$ in this account
kindly sir restore this domain for one day
Thanks
this is a huge help for me
Thanks

[2019-07-19 16:40] martenson commented on #212
@ali654 You have to contact maxbounty for that to work out, it is their choice.

[2019-07-19 16:40] #212 closed

[2019-07-19 16:41] ali654 opened #213 "Restore this domain"
Sir Please
siftportal.ru
i have created a maxbounty account on this domain and my account is blocked i want to check my mail i don't have any other option.
i work hard to earn money and i have more than 100$ in this account
kindly sir restore this domain for one day
Thanks
this is a huge help for me
Thanks

[2019-07-19 16:47] #213 closed

[2019-08-23 21:01] Aarbel opened #214 "Make it accessible via NPM"
Can you distribute this package thru NPM ?

It will help other libraries to use this base, for example here : https://github.com/validatorjs/validator.js/issues/1095

[2019-08-23 21:06] martenson commented on #214
@Aarbel This is not a javascript package, this is a simple list. Feel free to pack it in whatever format you'd like, this is a public domain.

[2019-09-09 06:59] slawa-dev commented on #158
@martenson You added those. You should close this issue.

[2019-09-09 13:47] martenson commented on #158
@slawa-dev I don't believe we did, some are already there from different sources but the list above needs cleaning and a PR for the rest.

[2019-09-09 13:47] #214 closed

[2019-09-22 14:56] hjr265 opened #217 "Domains used by temp-mail.org"
[code]

Source: https://temp-mail.org/en/change

I was trying to make a pull request for this. But, while following the contribution guidelines, running the two commands seemed to move some of the existing domains around in the disposable_email_blocklist.conf file.

![image](https://user-images.githubusercontent.com/348107/65389779-54818100-dd7b-11e9-8cce-06b63cb05134.png)

[2019-09-28 15:56] #217 closed

[2019-09-28 15:57] martenson commented on #217
@hjr265 It seems your system has different implementation/version of `sort`, I've pushed your suggestions in the commit linked above, thanks!

[2019-10-25 13:52] martenson opened #220 "walk through this list of disposables and update"
https://dmoztools.net/Computers/Internet/E-mail/Spam/Preventing/Temporary_Addresses/

[2019-10-25 18:09] #220 closed

[2020-02-12 13:53] martenson opened #230 "enhance CI to verify that domains are not third and lower level"
a way to implement: check against publicsuffixlist in  https://github.com/martenson/disposable-email-domains/blob/master/verify.py
reasoning for limiting: https://github.com/martenson/disposable-email-domains/issues/46

[2020-02-12 21:14] #230 closed

[2020-03-28 18:36] mikeb761 opened #235 "anonymousspeech.com"
Hi
I have a 3 yr account and now this site is down for 2 days, all emails, contacts etc gone?
any suggestions how to check whats wrong?

[2020-03-29 00:39] di commented on #235
Hi, this project is not affiliated with that email provider, sorry!

[2020-03-29 00:39] #235 closed

[2020-04-15 12:14] skgith1 opened #237 "Additional Domains"
Please find below some additional domains found via our services, these were created by spam generating accounts, hope this helps!

"mybx.site",
"plutofox.com",
"enayu.com",
"whkart.com",
"0hio.org",
"lvory.org",
"ldaholce.com",
"0clock.org",
"0live.org",
"lce0ak.com",
"ilandingvw.com",
"flooringuj.com",
"vlinitial.com",
"crazymail.guru",
"tutanota.com",
"umail365.com",
"promaild.com",
"ieasymail.

[2020-06-02 14:55] DanielAbsi opened #239 "Add other Email name:"
[code]

[2020-12-14 13:22] nicolashardy opened #256 "New disposable email domains"
[code]

[2020-12-17 06:46] btekcan opened #257 "New disposible email"
Please add these provider to your list

pratikmail.com
pratikmail.net

[2020-12-17 10:21] martenson commented on #257
Hi @btekcan, would you mind creating a pull request for your contribution?

[2021-05-20 16:22] martenson opened #273 "fight the disposable automation with an anti-automation"
If the https://web1.temp-mail.org/request/domains/format list is something that is fairly stable we could implement a CI check that automatically merges domains in that list with our blocklist.

[code]

[2021-05-20 17:17] SufiSR commented on #273
The endpoint is stable but tends to outdate quickly. It also lists only four disposable mails although there are more than just those four.

[2021-05-20 20:18] martenson commented on #273
@SufiSR I thought of something like a daily CI run - those listed there seem to be live which makes them valuable to us. Maybe we could look for more endpoint like this.

[2021-05-24 14:24] DanielAbsi commented on #273
Hey @martenson,
Do you also have the URL for, emailondeck.com domain to be blocked like you did with temp-mail.com?

[2021-06-06 13:30] DanielAbsi opened #275 "Domaine site for disposable domain (.in)"
Site: https://xkx.me/
Site template from: https://codecanyon.net/item/tmail-multi-domain-temporary-email-system/20177819

Disposable domain site:
5tb.in
xkx.me
4k5.net

[2021-08-21 12:20] VrajGohil opened #280 "New disposable email"
Website : https://10minutesemail.net

Domains :
- eposta.buzz
- email.edu.pl

[2021-09-08 20:52] DanielAbsi commented on #273
Link is down for https://web1.temp-mail.org/request/domains/format

[2021-11-04 12:51] rdsedmundo opened #288 "Add metalunits.com"
We've had 100s of accounts registering in our service with this e-mail domain with random characters.

[2021-12-10 16:14] martenson commented on #288
Could you please report the incident to the contact they provide on metalunits.com? If they do not respond and explain I'll be ok with adding `metalunits.com` to the list I think.

[2022-01-18 13:47] shitware-nl opened #300 "Please remove my *personal* domain from this list"
Please remove shitware.nl . Used as a personal catch-all, but not a public disposable email domain. Try me by sending a nonce to {whatever}@shitware.nl .

Thanks.

[2022-01-18 16:35] #300 closed

[2022-01-18 18:20] shitware-nl commented on #300
Thanks!

[2022-01-19 06:35] woshiniming007 opened #303 "Fuck all of you idiots"
You guys think you're doing something rewarding? Helping companies harass users?

[2022-01-19 12:32] #303 closed

[2022-01-19 13:19] martenson commented on #300
@shitware-nl Not sure how long you have the domain, but in case it's been a while please accept my apologies for putting you on this list in the first place.

[2022-02-10 17:28] #280 closed

[2022-03-02 06:41] russorat commented on #288
looks like their mx records point to https://mail.tm/en/ which is definitely disposable:

<img width="747" alt="image" src="https://user-images.githubusercontent.com/4805997/156308843-a0351b20-3204-487f-8ad2-e5361d557605.png">

Closed by https://github.com/disposable-email-domains/disposable-email-domains/pull/314

[2022-03-02 06:43] russorat commented on #275
These were added in #307 . this can be closed.

[2022-03-02 10:59] #275 closed

[2022-03-09 09:29] #288 closed

[2022-03-10 16:35] 7c opened #315 "possible cooperation"
Hello, we are cyber security company and believe that site operators do also  have right to know who is using disposable email... This is why we have started to watch over 100 disposable email providers with our dedicated technology. We are about to add some big fishes protected with cloudflare to the list. I have mentioned this list in the README (it will be updated tomorrow) as community effort

[2022-03-11 16:44] DanielAbsi commented on #315
Does it detect new Temp mail email?

[2022-03-11 16:49] DanielAbsi opened #316 "Temp mail disposable emails"
**temp-mail.org**
_______________________
tonaeto.com
songsign.com
superyp.com

#### 3/11/ 2022.   MM/DD/YYYY

[2022-03-11 16:56] DanielAbsi commented on #316
Also Add http://findtempmail.com/

.....@chenbot.email
.....@pipemail.space

[2022-03-12 03:18] tompec commented on #315
Hey @DanielAbsi they don't support temp-mail.org domains as you can see here:
https://fakefilter.net/api/is/fakeemail/lotop58775@tourcc.com
We do have them at [mailcheck.ai](https://www.mailcheck.ai/domain/tourcc.com) if you want to give it a try.

[2022-03-13 18:44] 7c commented on #315
AS you guys probably know there are kind of protected providers like temp-mail.. But our patch is almost ready. We will support 10 additional bigger providers with protection coming 1-2 weeks. Almost realtime

[2022-03-17 17:21] DanielAbsi commented on #315
[mailcheck.ai](https://www.mailcheck.ai/domain/tourcc.com) is a premium service

[2022-03-17 17:42] DanielAbsi commented on #316
I find a way to detect potential disposable email from temp-mail.org by filtering them.
All temp-mail.org email have the same pattern and if the pattern is found manual detection is easier to detecting them:
_________________
All temp-mail.org email is a .com domain name.
All temp-mail.org the Registrar is NameSilo, LLC.
All temp-mail.org is Registered On 2018-01-31, Updated On 2022-03-03 and Expi

[2022-03-17 17:42] #316 closed

[2022-03-17 17:48] martenson commented on #316
@DanielAbsi I like the idea! Forging this into a github action workflow would be very useful I think.

[2022-03-18 00:59] tompec commented on #315
MailCheck is free and has been free since its launch 6 years ago.
We don't even ask for an email.

[2022-03-18 01:25] DanielAbsi commented on #303
Hello @woshiniming007,

I use a lot disposable email too I understand your angreness. Companies are looking to solutions to avoid having there’s  email bouncing all the time. They only what to email real people and real customers.
Some people, have their own disposable email only for them where you can follow [this article by free codecamp](https://www.freecodecamp.org/news/how-to-setup-your-own-d

[2022-03-19 12:06] 7c commented on #315
Started to detect temp-mail.org and 5 other protected providers in an automatic manner.

[2022-04-01 09:23] SkullbocksDE commented on #257
I have also a new one: jiooq.com

Generated by https://10minutemail.net/

[2022-04-10 21:23] viltor commented on #257
I found nthrw.com

[2022-04-14 13:45] viltor commented on #257
Another one bvhrk.com

[2022-04-26 13:20] Daniel3356 opened #325 "Temp-mail update"
add: pantabi.com
add: richdn.com
add: ovout.com
add: idurse.com

[2022-05-02 11:50] HenkPoley commented on #288
Same nonsense about never sending spam http[:]//candassociates[.]com/

(But it's used for receiving from spam targets.)

[2022-07-20 10:35] bird-in-hat commented on #325
add: runfons.com

[2022-08-08 09:46] CAI79 commented on #325
add: nthrw.com

[2022-08-17 22:19] ghost opened #333 "New disposable mails"
anonaddy.me
anonaddy.com
ya.ru
internet.ru
list.ru
inbox.ru
ro.ru
lenta.ru
hitv.ru

[2022-08-17 23:09] #333 closed

[2022-08-25 11:27] erdimeola commented on #325
add: upperemails.com
add: elohellplayer.com

[2022-09-23 18:18] Mubelotix commented on #148
Lol these were the services Satoshi Nakamoto used to stay anonymous in 2008

[2022-10-11 08:42] asoliman1984 opened #338 "New disposable domain"
Please add this one

drmail.in

![image](https://user-images.githubusercontent.com/7690011/195042107-9360c175-6471-4ac8-b59d-956d406fa4f6.png)

[2022-11-11 19:33] dlevesque-primalogik commented on #325
add: vysolar.com
add: keshitv.com
add: lidely.com